.home {
  background-color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: center;
}

.herbList{
  display: flex;
  flex-direction: column;
  padding:5rem;
  align-items: center;
}
